<p><%= @contact.message %></p>
<p>---------------------</p>
<p><%= SpreeContactUs.require_name ? Spree.t(:sent_by_name, :email => @contact.email, :name => @contact.name) : Spree.t(:sent_by_contact_form, :email => @contact.email) %></p>
<p><%= @contact.email %></p>
<p>Tel: <%= @contact.phone%></p>
