<%= @contact.reasons%>
<%= @contact.message %>
-------------------------------------
<%= SpreeContactUs.require_name ? Spree.t(:sent_by_name, :email => @contact.email, :name => @contact.name, :phone => @contact.phone) : Spree.t(:sent_by_contact_form, :email => @contact.email) %>
<p><%= @contact.phone%></p>
